<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head-links.ejs') -%>
    <title>New beer</title>
  </head>

  <!-- Nav Bar -->
  <%- include('../partials/navbar.ejs') -%>
  <!-- Hero -->
  <header class="is-family-monospace">
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <nav>
            <h1 class="title is-1">Create a New Beer</h1>
            <h2 class="title is-4">placeholder</h2>
          </nav>
        </div>
      </div>
    </section>
  </header>
  <!-- Body -->
<body>
  <br>
<h3 class="content is-medium">
  <a href="/breweries">Back to all Breweries</a>
    </h3>
          <main>
          </div class="control">
          
            <form action="/beers" method="POST">
            <input class="input is-primary" type="text" name="name" placeholder="Beer Name" /> <br />
            <input  class="input is-primary" type="text" name="style" placeholder="Beer Style" /> <br />
            <input class="input is-primary" type="text" name="notes" placeholder="Tasting Notes" /> <br />
            <input class="input iis-primary" type="number" name="rating" placeholder="Rating (1-10)" /> <br />
            </div>
            <div class="field">
              <p>
                <label class="label">Select a Brewery</label>
                <div class="control">
                    <div class="select is-primary">
              <select name="brewery">
                <option default>Select a Brewery</option>
                <% breweries.forEach(brewery => { %>
                <option value="<%= brewery._id %>"><%= brewery.name %></option>
                <% }) %>
              </select>
                  </div>
                </div>
              </div>
              <div class="control">
              <button class="button is-link">Create Beer</button>
            </div>
            </p>
        </form>
      </main>
    </body>
    
  <!-- Footer -->
  <%- include('../partials/footer.ejs') -%>
</html>
