<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head-links.ejs') -%>
    <title>New beer</title>
  </head>

  <!-- Nav Bar -->
  <%- include('../partials/navbar.ejs') -%>

  <!-- Hero -->
  <header class="is-family-monospace">
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <nav>
            <h1 class="title is-2">Tell us what you had</h1>
            <h2 class="content is-medium"></h2>
          </nav>
        </div>
      </div>
    </section>
  </header>

  <!-- Body -->
<body>
  <br>
    <main>

      <!-- Form -->
      <label class="label">Fill out all boxes below:</label>
      <div class="control">
        <form action="/beers" method="POST">
        <input class="input is-dark" type="text" name="name" placeholder="Beer Name" /> <br />
        <input  class="input is-dark" type="text" name="style" placeholder="Beer Style" /> <br />
        <input class="input is-dark" type="text" name="notes" placeholder="Tasting Notes" /> <br />
        <input class="input is-dark" type="number" name="rating" placeholder="Rating (1-10)" /> <br />
        </div>

        <!-- Drop-down Menu -->
        <div class="field">
          <p>
            <br>
            <label class="label">Select its Brewery:</label>
            <div class="control">
                <div class="select is-dark">
            <select name="brewery">
              <option default>Name</option>
              <% breweries.forEach(brewery => { %>
              <option value="<%= brewery._id %>"><%= brewery.name %></option>
              <% }) %>
            </select>
              </div>
            </div>
          </div>
          <!-- Create Beer button -->
          <div class="control">
          <button class="button is-link ">Create Beer</button>
        </div>
        </p>
    </form>
      <br> <br>

      <!-- bottom link -->
      <h3 class="content is-4"> Don't see the brewery you want listed? <br>
        <a href="/breweries/new">Add New Brewery</a>
          </h3>
      </main>
    </body>
    
  <!-- Footer -->
  <%- include('../partials/footer.ejs') -%>
</html>
