<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/public/styles/main.css" />
    <script src="/public/scripts/app.js" defer></script>
    <title>Show beer</title>
  </head>
  <!-- Nav Bar -->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="http://localhost:4000/breweries">
        <i class="fas fa-angle-double-right  is-large "></i>
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>
  
        <a class="navbar-item">
          Brewery List
        </a>
  
        <a class="navbar-item">
          About Us
        </a>
          </a>
        </div>
      </div>
  
    </div>
  </nav>
  <!-- Body -->
  <body>
    <nav>
      <h1>The Hoptimists</h1>
      <ul>
        <li>
          <a href="/breweries">Breweries</a>
        </li>
      </ul>
    </nav>
    <main>
      <section>
        <h2>Beer Deets</h2>
        <a href="/beers/<%= beer._id %>/edit">Edit</a>
        <ul>
          <li>Beer Name: <%=beer.name %></li>
          <li>Beer Style: <%=beer.style %></li>
          <li>Tasting Notes: <%=beer.notes %></li>
          <li>Rating (1-10): <%=beer.rating %></li>
        </ul>
      </section>
      <form action="/beers/<%= beer._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" />
      </form>
    </main>
  </body>
  <!-- Footer -->
    <footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong> <i class="fas fa-angle-double-right"></i> Hoptimists </strong> by Corey Essig and Rodrigo Marron 
       
    </p>
  </div>
</footer>
</html>
