<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head-links.ejs') -%>
    <title>Hoptimist | <%= beer.name %></title>
  </head>

  <!-- Nav Bar -->
  <%- include('../partials/navbar.ejs') -%>

  <!-- Hero -->
  <header class="is-family-monospace">
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <nav>
            <h1 class="title is-2"><%=beer.name%></h1>
            <span class="tag is-info is-large"> <strong> <%= beer.style%> </strong></span>
          </nav>
        </div>
      </div>
    </section>
  </header>

  <!-- Body -->
  <body>
    <main>
      <br /><br />

      <div class="block">
        <article class="message is-dark">
          <div class="message-header">
            <p>Details & Notes</p>          
          </div>
          <div class="message-body">
            <ul>
              <li> Name: <strong> <%=beer.name %> </strong>  </li>
              <li> Style: <strong> <%=beer.style %> </strong>  </li>
              <li> Tasting Notes: <strong> <%=beer.notes %> </strong>  </li>
              <li> Rating (1-10): <strong> <%=beer.rating %> </strong>  </li>
            </ul>
          </div>
        </article>


    <!-- Update Beer -->
    <h2 class="label">Make Changes to:</h2>
    <a class="content is-link is-medium" href="/beers/<%= beer._id %>/edit ">
      <%=beer.name %>
    </a>
    <br /><br />

    <!-- Delete Beer Button -->
    <form action="/beers/<%= beer._id %>?_method=DELETE" method="POST">
      <input class="button" disabled type="submit" value="Delete" />
    </form>
  </body>

  <!-- Footer -->
  <%- include('../partials/footer.ejs') -%>
</html>
