<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head-links.ejs') -%>
    <title class="container">Update Brewery</title>
  </head>

  <!-- Nav Bar -->
  <%- include('../partials/navbar.ejs') -%>
  <!-- Hero -->
  <header class="is-family-monospace">
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <nav>
            <h1 class="title is-1"><%=brewery.name%></h1>
            <h2 class="title is-4">Update this Brewery</h2>
          </nav>
        </div>
      </div>
    </section>
  </header>
  <!-- Body -->
  <body>
    <header>
      <section class="hero">
        <div class="hero-body">
          <div class="container">
            <nav>
              <h1 class="title">Welcome to the Hoptimists</h1>
              <ul>
                <li>
                  <a href="/breweries">Home</a>
                </li>
                <li>
                  <a href="/breweries"></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </section>
    </header>
    <main>
      <h2>Edit <%= brewery.name %></h2>
      <form action="/breweries/<%= brewery._id%>?_method=PUT" method="POST">
        <div class="select">
          <input
            class="input"
            type="text"
            name="name"
            value="<%= brewery.name %>
        "
          />
        </div>
      </form>
    </main>
  </body>

  <!-- Footer -->
  <%- include('../partials/footer.ejs') -%>
</html>
