<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head-links.ejs') -%>
    <title>Hoptimist | Home</title>
  </head>

  <!-- Nav Bar -->
  <%- include('../partials/navbar.ejs') -%>

  <!-- Hero -->
  <header class="is-family-monospace">
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <nav>
            <h2 class="title is-2">Welcome to Hoptimist!</h2>
          </nav>
        </div>
      </div>
    </section>
  </header>

  <!-- Box  -->
  <div class="block">
    <div class="box is-family-monospace">
      <h1 class="title is-4">About Us</h1>
      <p>
        <strong>Hoptimist</strong> is brought to you by two dudes who enjoy
        talking about beer so much that they wanted to have a place where they
        could share their tasting experiences with other beer enthusiasts,
        regardless of location. <br /><br />
        With Hoptimist you are able to pick from a list of breweries and add the
        beers you want to review and share. Your notes for each beer will be
        viewable by other hoptimists! <br />
        If you don't see the brewery you want from our list, then you can create
        it yourself by clicking the big blue button below.
      </p>
    </div>
  </div>

  <!-- Body -->
  <body>
    <main>
      <!-- Brewery List -->
      <%- include('../partials/brewery/brewery-list.ejs') -%>
      <br /><br />

      <!-- New Brewery Button -->
      <%- include('../partials/brewery/new-brewery-button.ejs') -%>
    </main>
  </body>

  <!-- Footer -->
  <%- include('../partials/footer.ejs') -%>
</html>
