<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head-links.ejs') -%>
    <title>Hoptimist | <%=brewery.name%></title>
  </head>

  <!-- Nav Bar -->
  <%- include('../partials/navbar.ejs') -%>

  <!-- Hero -->
  <header class="is-family-monospace">
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <nav>
            <h1 class="title is-2"><%=brewery.name%></h1>
            <h2 class="title is-4">Location ?</h2>
          </nav>
        </div>
      </div>
    </section>
  </header>

  <!-- Body -->
  <body>
    <main>
      <br />

      <!-- Update Brewery -->
      <a
        class="content is-link is-medium"
        href="/breweries/<%= brewery._id %>/edit "
        >Update <%=brewery.name %>
      </a>
      <br /><br />

      <!-- Menu -->
      <h3 class="label">All <%=brewery.name %> beers: <br /></h3>
      <div class="block">
        <aside class="menu">
          <ul class="menu-list">
            <li>
              <a class="subtitle is-active" href="#"
                >See a beer you like?
                <strong class="has-text-white">Check it out. </strong>
              </a>
              <ul>
                <% brewery.beers.forEach(beer => { %>
                <li>
                  <a href="/beers/<%= beer._id %> "><%= beer.name %> </a>
                </li>
                <% }) %>
              </ul>
            </li>
          </ul>
        </aside>
      </div>
      <br /><br />

      <!-- New Beer Button -->
      <h3 class="label">
        Didn't see your beer? <br />
        <a href="/beers/new" class="button is-link">Add New Beer!</a>
      </h3>
    </main>
    <br />

    <!-- Delete Brewery Button -->
    <form action="/breweries/<%= brewery._id %>?_method=DELETE" method="POST">
      <input class="button" disabled type="submit" value="Delete" />
    </form>
  </body>

  <!-- Footer -->
  <%- include('../partials/footer.ejs') -%>
</html>
