<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head-links.ejs') -%>
    <title>Hoptimist | <%=brewery.name%> Page</title>
  </head>
  <!-- Nav Bar -->
  <%- include('../partials/navbar.ejs') -%>
  <!-- Hero -->
  <header class="is-family-monospace">
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <nav>
            <h1 class="title is-1"><%=brewery.name%></h1>
            <h2 class="title is-4">placeholder</h2>
          </nav>
        </div>
      </div>
    </section>
  </header>
  <!-- Body -->
  <body>
    <nav>
      <h1>The Hoptimists</h1>
      <ul>
        <li>
          <a href="/breweries"> Back to Breweries List</a>
        </li>
        <li>
          <a href="/breweries/new">Add a brewery</a>
        </li>
        <li>
          <a href="/beers/new">Add a New Beer & Rate</a>
        </li>
      </ul>
    </nav>
    <main>
      <section>
        <h2>Goodies</h2>
        <a href="/breweries/<%= brewery._id %>/edit ">Edit</a>
        <ul>
          <li>Brewery: <%= brewery.name %></li>
        </ul>
      </section>
      <form action="/breweries/<%= brewery._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" />
      </form>

      <section>
        <h2>Beers</h2>
        <ul>
          <% brewery.beers.forEach(beer => { %>
          <li>
            <a href="/beers/<%= beer._id %> "><%= beer.name %> </a>
          </li>
          <% }) %>
        </ul>
      </section>
    </main>
  </body>
  <!-- Footer -->
  <%- include('../partials/footer.ejs') -%>
</html>
